@keyframes page-loading {
  0% {
    border-radius: 50px;
    transform: translateY(100vh);
    height: 200px;
  }
  50% {
    border-radius: 50px;
    height: 200px;
    transform: translateY(0);
  }
  100% {
    border-radius: 0;
    height: 100vh;
  }
}

html, body {
  margin: 0;
  height: 100%;
}

h1 {
  margin: 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.main {
  height: 100%;
  background-color: #707070;
  animation-name: page-loading;
  animation-timing-function: ease;
  animation-duration: 1.0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
